h1 {
    margin-top: 64px;
    text-align: center;
    color: var(--primary-font-color);
    font-size: 3rem;
}

.navbar {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

