.outer-wrapper {
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id, .inputTitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1.5rem;
}

.inputTitle {
    color: #000080;
    font-weight: 600;
}

#heroName {
    margin-bottom: 8px;
    padding: 8px;
    font-size: 1rem;
}

button {
    margin-top: 16px;
    display: block;
}
