.outer-wrapper {
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
    text-align: start;
}

.id {
    margin-block-end: 8px;
    font-weight: 500;
    font-size: 1.5rem;
}

button {
    margin-block-start: 16px;
    display: block;
}
