* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-color: #000080;
}

.title {
  text-align: center;
  margin-inline: auto;
  margin-block: 36px 16px;
  font-size: 2rem;
  font-weight: 500;
}

button {
  padding: 1rem;
  background-color: #d4d4d4;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  transition: background-color 100ms;
  background-color: #e6e6e6;
}

.label {
    margin-block-end: 8px;
    font-weight: 500;
    font-size: 1.5rem;
    color:var(--primary-font-color);
    font-weight: 600;
}

.input {
    margin-block-end: 8px;
    padding: 8px;
    font-size: 1rem;
}